<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /

# HTTP to HTTPS
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://blindhub.ro/$1 [R,L]

# this is to disable redirection to index page
RewriteRule ^index\.php$ 						- [L]

# this is for session ID passing through URL
RewriteRule ^psid([a-zA-Z0-9\-,]{26,26})	/?blindsessid=$1 [L]

# if anyone tries to access a PHP file other than index.php, block the connection
#RewriteCond %{REQUEST_FILENAME} \.php
#RewriteCond %{REQUEST_FILENAME} !^index\.php$
#RewriteRule . - [F]

# these are to redirect any access that does not point to a file or directory to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .	/index.php [L]
</IfModule>
